<div class="teachLog">
  <form method="POST" class="teachForm">
      <div class="mb-3" >
        <label for="exampleInputPassword1" class="form-label">Roll : </label>
        <input type="number" name="roll" class="form-control" id="exampleInputPassword1">
         </div>
         <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">DOB : </label>
          <input type="date" name="date" class="form-control" id="exampleInputPassword1">
           </div>
      <a><button type="submit" class="btn btn-primary">Submit</button></a>
  </form>
</div>